
/* black      = "#272822" */
/* grayD      = "#3e3d31" */
/* red        = "#e03a3a" */
/* maroon     = "#f92672" */
/* green      = "#3ae03a" */
/* greenL     = "#a6e22e" */
/* blue       = "#63b8ff" */
/* blueD      = "#1e90ff" */
/* orange     = "#fd971f" */
/* yellow     = "#e6db74" */
/* magenta    = "#fd5ff0" */
/* violet     = "#ae81ff" */
/* cyan       = "#a1efe4" */
/* cyanD      = "#3ae0e0" */
/* gray       = "#64645e" */
/* white      = "#f9f9f2" */
/* textColor  = "#fffacd" */
/* textColorA = "#ffdead" */

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$black: #383838;
$white: #fff;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$blue: #098cc8;
$maroon: #f92672;
$cyan: #3ae0e0;
$green: #3ae03a;
$violet: #ae81ff;


$beige-light: #D0D1CD;
$beige-lighter: #f3f3f5;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $brown;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$gap: 32px;


// Navbar styles
$navbar-breakpoint: 768px;
$navbar-background-color: transparent;
$navbar-item-color: #383838;
$navbar-item-hover-color: #989898;
/* $navbar-item-hover-background-color: $gray; */
/* $navbar-item-active-color: $cream; */
/* $navbar-item-active-background-color: $cream; */
/* $navbar-dropdown-background-color: $cream; */
/* $navbar-dropdown-border-top: 2px solid $lime; */
/* $navbar-dropdown-arrow: $lime; */
/* $navbar-dropdown-item-hover-color: $white; */
/* $navbar-dropdown-item-hover-background-color: $gray; */
/* $navbar-dropdown-item-active-background-color: $gray; */
/* $navbar-burger-color: $white; */

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/media.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/panel.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/leaflet/dist/leaflet.css";

.leaflet-container {
  height: 420px;
  width: 100%;
}

.is-active-subcategory {
  background: #50c878 !important;
  box-shadow: inset 1px 1px 13px rgba(0,0,0, .13) !important;
  color: white;
}

.panel-block.is-active {
  border-left-color: rgb(9,140,200);
  color: rgb(9,140,200);
}


.subcategory-box {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(1,1,1, .05);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.subcategory-box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 12px rgba(60, 60, 60, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// .subcategory-box:hover {
//   -webkit-transform: scale(1.25, 1.25);
//   transform: scale(1.25, 1.25);
// }

.subcategory-box:hover::after {
  opacity: 1;
}









// .subdirection-card {
//   box-shadow: inset 0px 0px 26px rgba(1,1,1, .11) !important;
// }

/* Pre-render the bigger shadow, but hide it */
// .subdirection-card::after {
//   box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
//   opacity: 0 !important;
//   transition: opacity 0.3s ease-in-out !important;
// }

/* Transition to showing the bigger shadow on hover */

// .subdirection-card::after {
//   content: '';
//   opacity: 0;
//   border-radius: 5px;
//   box-shadow: 0px 0px 16px rgba(1,1,1, .21) !important;
//   transition: opacity 0.3s ease-in-out;
// }


/* @media (max-width: $widescreen) { */
/* } */
  /* .container { */
  /*   max-width: $widescreen - (2 * $gap); */
  /*   width: $widescreen - (2 * $gap); */
  /* } */















/* // bulma variable over-rides */

/* $primary:    #8e8e90; */
/* $secondary:  #49494b; */

/* $black:      #3d3d3f; */
/* $gray:       #aba7a7; */
/* $cream:      #f6f5f3; */
/* $white:      #f9f8fd; */

/* $blue:       rgb(9, 140, 200); */
/* $lime:       #7dce94; */

/* $softgold:   #d1bfa7; */
/* $gold:       rgb(199, 179, 119); */

/* /\* $info: $blue; *\/ */
/* $input-shadow: none; */

/* /\* $gap: 180px; *\/ */

/* // menu */
/* $menu-item-color: $secondary; */
/* $menu-item-hover-color: $black; */
/* $menu-item-hover-background-color: $gray; */
/* $menu-item-active-color: $blue; */
/* $menu-item-active-background-color: $gray; */
/* $menu-label-color: $blue; */

/* // navbar */

/* // card */
/* $card-color: $white; */
/* $card-header-color: $gold; */
/* $card-background-color: $cream; */
/* $card-shadow: 0 2px 10px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.4); */

/* // BULMA STYLE REWRITE */

/* // Disable the widescreen breakpoint */
/* $widescreen-enabled: false; */
/* // Disable the fullhd breakpoint */
/* $fullhd-enabled: false; */

/* @import '../../node_modules/bulma/bulma.sass'; */



/* .navbar-item { */
/*   padding: 0; */
/* } */


/* .container { */
  /* max-width: 80rem; */
  /* padding-right: 5rem; */
  /* padding-left: 5rem; */
/* } */

$tooltip-color: rgba(0,0,0,.7);
$tooltip-text-color: #fff;

.tooltip {
  position: relative;
}

.tooltip-trigger {
  display: inline-block;
  text-decoration: underline;
}

.tooltip-bubble {
  min-width: 150px;
  max-width: 220px;
  position: absolute;
  z-index: 10;
  &::after {
    content: '';
    position: absolute;
  }
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  padding-bottom: 9px;
  transform: translateX(-50%);
  &::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid $tooltip-color;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  padding-top: 9px;
  transform: translateX(-50%);
  
  &::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid $tooltip-color;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tooltip-left {
  top: 50%;
  right: 100%;
  padding-right: 9px;
  transform: translateY(-50%);
  &::after {
    border-left: 9px solid $tooltip-color;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.tooltip-right {
  top: 50%;
  left: 100%;
  padding-left: 9px;
  transform: translateY(-50%);
  &::after {
    border-right: 9px solid $tooltip-color;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.tooltip-message {
  background: $tooltip-color;
  border-radius: 3px;
  color: $tooltip-text-color;
  font-size: .75rem;
  line-height: 1.4;
  padding: .75em;
  text-align: center;
}
